body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// animation

@mixin click-animation {
  transition: transform 0.08s ease-in-out;

  &:active {
    transform: scale(0.9);
  }
}

.click-animation {
  @include click-animation;
}

// vuetify

.v-btn {
  @include click-animation;
}

.v-list {
  padding: 0;
}

// shadows

.shadow-sm {
  box-shadow: rgba(149, 157, 165, 0.2) 4px 4px 8px !important;
}

.shadow-md {
  box-shadow: rgba(149, 157, 165, 0.4) 4px 4px 8px !important;
}

.shadow-lg {
  box-shadow: rgba(149, 157, 165, 0.6) 4px 4px 8px !important;
}

// border radius

$oblong-radius: 3px !important;

.oblong {
  border-radius: $oblong-radius;
}

.oblong-l {
  border-top-left-radius: $oblong-radius;
  border-bottom-left-radius: $oblong-radius;
}

.oblong-r {
  border-top-right-radius: $oblong-radius;
  border-bottom-right-radius: $oblong-radius;
}

.oblong-t {
  border-top-left-radius: $oblong-radius;
  border-top-right-radius: $oblong-radius;
}

.oblong-b {
  border-bottom-left-radius: $oblong-radius;
  border-bottom-right-radius: $oblong-radius;
}

.circle {
  border-radius: 50% !important;
}
