@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* to implement dark theme: add .dark, store user preference in local storage and use it in index.html */
.light {
  --background: 250, 250, 250;
  --primary: 255, 255, 255;
  --secondary: 238, 238, 238;

  --action: 33, 150, 243;
  --failure: 220, 20, 60;
  --success: 50, 205, 50;
  --passive: 120, 120, 120;

  --link: 153, 202, 249;
  --nav-focused: 255, 193, 7;
}

@layer components {
  .tw-btn {
    @apply !tw-shadow-sm tw-transition-transform tw-ease-in-out hover:tw-grayscale-[.3] active:tw-scale-90;
  }

  .tw-btn-action {
    @apply tw-btn tw-bg-action !tw-text-primary;
  }
}
